/* место для вашего кода */
h1,
h2,
h3,
.bet-button {
    font-family: Raleway, sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 95px ;
}

.cover {
    position: relative;
    z-index: -2;
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
}

.lots {
    margin: 180px 24px 0;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    margin: 120px 24px 0;
    padding-top: 35px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 180px 50px 82px;
}

.overlay {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
}

.about__column {
    display: flex;
    justify-content: center;
}

.about__logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;
}

.about__logo-image {
    position: absolute;
    width: 148px;
    height: 114px;
}

.about__description {
    margin-left: 25px;
}

.about__title {
    margin: 98px 0 100px;
    color: #000;
    font-weight: 700;
    font-size: 40px;
}

.about__text {
    font-family: Raleway, sans-serif;
    display: grid;
    row-gap: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.cover__title {
    padding: 165px 50px 0;
}

.cover__description {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 50px 50px;
}

.cover__description-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    word-spacing: 14px;
}

.bet-button {
    width: 256px;
    height: 51px;
    border-color: #fff;
    font-weight: 500;
    font-size: 22px;
    background-color: transparent;
}

.aligned-text {
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 30%;
}

.aligned-text_left {
    display: block;
    text-align: left;

}

.aligned-text_center {
    display: block;
    text-align: center;
}

.aligned-text_right {
    display: block;
    text-align: right;
}

.header__links-list {
    display: flex;
    column-gap: 26px;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 240px;
    height: 100%;
    font-style: normal;
}

.header__address {
    justify-self: end;
}

.feedback {
    border-bottom: 1px solid #000;
    text-decoration: none;
}

.lots__heading {
    margin-left: 40px;
    color: #000;
    font-weight: 700;
    font-size: 40px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 1052px;
    margin: 27px 0 30px;
    list-style-type: none;
}

.card {
    position: relative;
    width: 334px;
    height: 596px;
}

.card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 48px 40px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card_type_film,
.card_type_book,
.card_type_picture {
    position: relative;
    z-index: -2;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration: underline;
}

.card__text {
    font-family: Raleway, sans-serif;
    overflow: hidden;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-transform: none;
    text-overflow: ellipsis;
}

.lots__look-more-link {
    font-family: Raleway, sans-serif;
    margin-left: 40px;
    font-weight: 400;
    font-size: 20px;
}

.footer__menu {
    display: flex;
    justify-content: center;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-link {
    display: flex;
    justify-content: end;
}

.footer__social-list {
    display: grid;
    grid-template-columns: repeat(3, 48px);
    justify-content: end;
    column-gap: 48px;
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}

.footer__social-icon-youtube {
    background-image: url("../images/yt.svg");
}

.footer__social-icon-vk {
    background-image: url("../images/vk.svg");
}

.footer__social-icon-pinterest {
    background-image: url("../images/pinterest.svg");
}
